/*global*/
h1{
  font-size: 4em;
  font-weight: 600;
}
h2{
  font-family: 'Abril Fatface', cursive;
  font-size: 2.3em;
  font-weight: 600;
}
h3{
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  font-weight: 800;
}
h4{
  font-size: 1.5em;
}
h5{
  font-size: 1.3em;
}
p{
  font-size: 1.1em;
}

/*navigation*/
a:hover{
  opacity: 0.6;
}
a.selected {
  color: #009688;
}
/*under header*/
.slogan{
  margin-top: -50px;
}
#logo:hover{
  color: #009688;
}

/*under main*/
.bgColor{
  background: #EDF2F4;
  padding-bottom: 5%;
}
.parallax-container {
     height: 60%;
   }
#learnTitle{
  padding: 3%;
  font-size: 3em;
}
#cardTitle{
  font-weight: bold;
  text-decoration: underline;
}
#phplogo, #railslogo{
  padding-top: 50%;
}
#mybrain{
  padding-left: 15%;
}

/****My Resume****/
#about{
  background: linear-gradient(rgba(43,45,66,0.7),rgba(43,45,66,0.4)), url(../images/test1.jpg);
  padding-bottom: 100px;
}
#work{
  padding-top: 20px;
  padding-bottom: 40px;
  background: #EDF2F4;
}
#eduBg{
  opacity: 0.8;
}
/*blockquote*/
blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: black;
}
blockquote{
  border: 3px solid black;
  border-style: dotted;
}
#quoteText{
  font-size: 2em;
  font-style: italic;
}

/*****Contact*****/
#contactContent{
  padding-top: 10%;
  height: 75vh;
}
